    <footer class="main-footer">
        <div style="text-align: center">
        <strong>Copyright &copy; ATN-Shop.</strong> All rights reserved.
        </div>
    </footer>
    <div class="control-sidebar-bg"></div>
