
<header class="main-header"></header>
<aside class="main-sidebar">
    <h2 style="text-align: center; color: #fff">ATN Shop</h2>
    <br>
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="/products/index">
                    <i class="fa fa-code"></i> <span >Manage Product</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            

            <li>
                <a href="/categories/index">
                    <i class="fa fa-th"></i> <span>Manage Category</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li>
                <a href="/suppliers/index">
                    <i class="fa fa-user-md"></i> <span>Manage Supplier</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
        </ul>
    </section>
</aside>

<div class="breadcrumb-wrap content-wrap content-wrapper">
    <section class="content-header">
        
    </section>
</div>
<div class="message-wrap content-wrap content-wrapper">
</div>
